@import url(https://use.typekit.net/bmm6xuf.css);

body {
  font-size: 16px;
  font-family:"proxima-nova";
  color: $black;
}
.template-page .entry-content-wrapper {
  h1, h2 {
    text-transform: none;
    letter-spacing: normal;
    strong {
      font-weight: 600;
    }
  }
}
h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.05em;
  margin-bottom: 25px;
  .main_color & {
    color: $blue;
  }
  @include breakpoint(md, 'max') { 
    font-size: 47px;
    margin-bottom: 15px;
  }
  @include breakpoint(sm, 'max') { 
    font-size: 34px;
  }
}
h2 {
  font-size: 38px;
  font-weight: 600;
  .alternate_color & {
    color: #fff;
  }
}
h3 {
  font-size: 30px;
  font-weight: 900;
  .main_color & {
    color: $blue;
  }
}
h4 {
  font-size: 25px;
  font-weight: 900;
  .main_color & {
    color: $blue;
  }
}
h5 {
  font-size: 20px;
  .main_color & {
    color: $blue;
  }
}