.responsive #top #wrap_all .av-logo-container {
  @include breakpoint(md, 'max') { line-height: 50px; }
  @include breakpoint(sm, 'max') { width: 95%; max-width: 95%; }
  .inner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    align-items: start;
    @include breakpoint(md, 'max') { 
      margin-top: 15px; 
      margin-bottom: 15px; 
    }
    @include breakpoint(sm, 'max') {
      gap: 20px;
      align-items: center;
    }
    .button {
      background: transparent;
      padding: 0px;
      @include breakpoint(sm, 'max') {  flex: 1; }
      img {
        height: 60px;
        @include breakpoint(md, 'max') { 
          height: 50px;
          width: auto;
          display: block;
        }
        @include breakpoint(sm, 'max') {
          width: 100%;
          height: auto;
        }
      }
    }
    span.logo {
      float: none;
      position: relative;
      @include breakpoint(sm, 'max') {  flex: 1; }
      @include breakpoint(md, 'max') { 
        position: relative;
        width: auto;
        height: 50px !important; 
        overflow: visible;
        a { overflow: visible;}
      }
      img {
        @include breakpoint(md, 'max') { 
          max-height: 50px; 
          margin-bottom: -10px;
        }
      }
      .subtext {
        svg {
          max-width: 210px;
        }
      }
    }
    .main_menu {
      display: none;
      position: relative;
      order: 3;
      height: 50px;
    }
  }
}

#main > .container_wrap_first > header {
  position: relative;
  margin-bottom: 3em;
  &:after {
    @include arc;
  }
  & > .container {
    display: flex;
    justify-content: start;
    z-index: 1;
  }

  & + .container.row {
    gap: 0px;
    @include breakpoint(lg, 'min') {
      main.col {
        margin-left: 55px;
        &:only-child {
          margin-left: 0px;
        }
      }
    }
  }
}