aside {
  @include breakpoint(xl, 'max') { 
    display: none;
  }
  @include breakpoint(md) {
    width: 303px;
  }
  nav {
    width: 100%;
    max-width: 306px;
    background-color: #fff;
    ul {
      display: list-item;
    }
    li {
      position: relative;
      padding: 13px 0px 12px 20px;
      font-weight: 600;
      font-size: 19px;
      &:before {
        content:"\e87d";
        font-family: 'entypo-fontello';	
        position: absolute;
        left: 0;
        font-size: 14px;
        color: rgba(2,28,38,0.4);
      }
      a {
        .main_color & { color: $black; }
      }
      &.active a{
        .main_color & { color: #5781F2; }
      }
    }
  }
  &.fixed {
    @include breakpoint(md, "min") { padding-top: 300px; }
    nav {
      z-index: 2;
      @include breakpoint(md, "min") {
        position: fixed;
        top: 100px;
      }
    }
  }

  #cta {
    margin-top: 4em;
    z-index: 1;
    padding: 0px 35px 30px 35px;
    text-align: center;

    @include breakpoint(md, 'max') { 
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      max-width: calc(100% + 13px);
      margin: 0px -13px -50px 0px;
      float: right;
      display: block;
      position: relative;
      top: -40px;
      @include breakpoint(md, 'max') { 
        max-width: 300px;
      }
    }
  }
}