.row {
  display: flex;
  align-items: center;

  .col {
    padding: 20px;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      flex: 1;
    }

    .progress {
      &.loading {
        border: 1px #666 solid;
        border-radius: 13px;
        animation: blinker 2s linear infinite;
        line-height: 22px;
        font-size: 13px;
        letter-spacing: 2px;

        div {
          height: 23px;
          text-align: center;
        }
      }

      &.building {
        border: 1px #11b86f solid;
        border-radius: 13px;
        line-height: 22px;
        font-size: 13px;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;

        &:before {
          content: attr(data-before);
          position: absolute;
          left: 0;
          width: 100%;
          text-align: center;
          overflow: hidden;
        }

        div {
          height: 23px;
          background-color: #11b86f;
          text-align: center;
          transition: linear 3s;
        }

      }

      &.complete {
        background-color: #666;
        border-radius: 13px;
        height: 22px;
        font-size: 13px;
        letter-spacing: 2px;
        width: 100%;
        line-height: 22px;
        position: relative;

        &:before {
          content: "finished";
          position: absolute;
          left: 0;
          width: 100%;
          text-align: center;
          color: #fff;
          font-weight: bold;
        }
      }

      &.error {
        margin: 0px;

        &>div {
          width: 100% !important;
        }
      }
    }
  }

  &:not(.processing):not(.loaded) {
    .launch {
      opacity: 0.3;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}