body.agencies {
  #header_main nav { display: none;}
  #main header > .container { 
    padding-top: 50px;
    @include breakpoint(md) { padding-top: 150px; }
    #overview {
      flex: 1;
      .row {
        @include breakpoint(lg, 'max') { 
          flex-wrap: wrap; 
          gap: 20px;
          display: flex;
        }
        .col:first-child {
          @include breakpoint(lg, 'max') {
            flex: auto;
            flex-basis: 100%;
          }
        }
        .col:last-child {
          flex: none;
          width: 250px;
        }
        .contact {
          flex-direction: column;
          @include breakpoint(lg, 'max') { min-width: 200px; }
        }
        .social {
          padding-top: 20px;
        }
      }
    }
  }
  section {
    padding-bottom: 4em;
    @include breakpoint(md, 'max') { 
      padding-top: 3em;
      padding-bottom: 1em;
    }
    & > .row {
      @include breakpoint(lg, 'max') { 
        flex-direction: column;
        gap: 20px;
      }
    }
    &#employees {
      padding-bottom: 2em;
    }
    
    #marketing_table {
      .grid {
        & > .row {
          gap: 0px;
          align-items: center;
          & > div  { // 6 items
            width: 18%;
            display: flex;
            align-items: center;
            &:first-child {  // Checkbox
              text-align: center;
              width: 5%;
              justify-content: center;
            }
            &:nth-child(2) {  // Name
              width: 19%;
            }
            &:nth-child(3) {  // title
              width: 26%;
            }
            &:nth-child(4) {  // email
              width: 27.5%;
            }
            &:nth-child(5) {  // state
              
              width: 12%;
            }
            &:last-child {
             width: 10.5%;
             justify-content: center;
            }
          }
          &:first-child {
            background-color: $teal;
          }
        }
        .details {
          & .row > div {
            .phone {
              line-height: 30px;
            }
            &:not(.social) img {
              height: auto;
            }
            &:nth-child(3) {
              flex: 1; 
              img {
                margin-top: -8px;
                margin-bottom: 0px;
                height: 15px;
                margin-left: 0px;
              } 
            }
            &:nth-child(4) { 
              flex: 1; 
           
            }
          }
        }
        & > .row:not(:first-of-type) {
          div:nth-child(2) {  // Additional Names Blur
            filter: blur(4px);
          }
        }
      }
      .bottom {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
      } 
    }
  }
}