body.companies {
  #header_main nav { display: none;}
  #main header > .container { 
    @include breakpoint(md) { padding-top: 150px; }
  }
  .table {
    &#advertising_table {
      .grid {
        .row {
          gap: 0px;
          & > div  {
            width: 24.5%;
            &:first-child {
              padding-left: 2.5%; // Brand Name
              width: 23.5%;
            }
            &:nth-child(2) {
              width: 26.5%;
            }
            &:nth-child(3) {
              width: 25.5%;
            }
          }
        }
      }
    } 
    &#marketing_table {
      .grid {
        & > .row {
          gap: 0px;
          align-items: center;
          & > div  {
            width: 44%;
            &:first-child {  // Name
              padding-left: 2.5%;
              width: 43.5%;
            }
            &:last-child {
              width: 12.5%;
            }
          }
          &:first-child {
            background-color: $teal;
          }
        }
        .details {
          & .row > div {
            &:nth-child(3) {
              flex: 1; 
              img {
                margin-top: -8px;
                margin-bottom: 0px;
              } 
            }
            &:nth-child(4) { 
              flex: 1; 
              img { 
                height: 15px;
                margin-bottom: 0;
                margin-top: -2px;
                display: block;
                margin-left: 0px;
              }
            }
          }
        }
      }
      .bottom {    
        display: flex;
        justify-content: space-between;
        padding: 2% 32px;
      }
    }
    .bottom {
      text-align: right;
    }
  }
  section {
    & > article.iconbox {
      margin-bottom: 20px;
      .iconbox_icon {
        color: $teal;
        height: 40px;
        line-height: 45px;
        font-size: 40px;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        width: 60px;
        text-align: left;
        margin-right: 15px;
      }
    }
    padding-bottom: 4em;
    &#marketing, &#ad_spend {
      padding-bottom: 0px;
    }
  }
}
header {
  &#business {
    position: relative;
    margin-bottom: 3em;
    &:after {
      background-image: url(assets/img/companies/header-company.jpg);
      @include arc;
    }
    & > .container {
      display: flex;
      justify-content: start;
      z-index: 1;
    }
  }
  #overview {
    flex-basis: 48.1%;
    .contact {
      display: flex;
      padding-top: 3em;
      & > div {
        flex: 1;
        .iconbox .iconbox_content {
          .iconbox_content_title {
            font-size: 1em;
            color: $blue;
            margin: 0px;
          }
          .iconbox_content_container  {
            clear: left;
            top: -7px;
            display: block;
            position: relative;
            p {
              margin-top: 5px;
              font-weight: 300;
            }
          }
        }
        &.phone {
          .iconbox .iconbox_content .iconbox_content_container {
            color:$teal;
          }
        }
      }
    }
  }
}

#data_boxes {
  max-width: 379px;
  padding-left: 20px;
}