.responsive body#top.companies #wrap_all {
  #header_main nav { display: none;}
  #main header > .container { 
    padding-top: 50px;
    @include breakpoint(md) { padding-top: 150px; }
    @include breakpoint(sm, "max") { 
      width: auto;
      max-width: 95%;
    }
  }
  .table {
    &#advertising_table {
      .grid > .row, .top {
        & > div {
          width: 24.5%;
          @include breakpoint(sm, 'max') { width: auto; flex:1; }
          &:first-child {
            padding-left: 2.5%; // Brand Name
            width: 23.5%;
          }
          &:nth-child(2) {
            width: 26.5%;
            @include breakpoint(sm, 'max') { width: auto; flex:1; }
          }
          &:nth-child(3) {
            width: 25.5%;
            @include breakpoint(sm, 'max') { display: none; }
          }
        }
      }
      .top > div:not(.nosort)::after {
        right: 9px;
      }
      .grid {
        .row {
          gap: 0px;
          align-items: center;
          & > div {
            &:first-child {
              line-height: 12px;
            }
            &:nth-child(2) {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    } 
    &#marketing_table {
      .grid > .row, .top {
        & > div {
          width: 44%;
          &:first-child {  // Name
            padding-left: 2.5%;
            width: 43.5%;
            @include breakpoint(sm, 'max') { width: 30%; }
          }
          &:last-child {
            width: 12.5%;
            @include breakpoint(sm, 'max') { display: none; }
          }
        }
      }
      .grid {

        & > .row {
          gap: 0px;
          align-items: center;
          &:first-child {
            background-color: $teal;
          }
          & > div {
            &:nth-child(2) {
              line-height: 12px;
              @include breakpoint(sm, 'max') { width: 70%; }
            }
          }
        }
        .details {
          .row {
            & > div {
              &:first-child {
                @include breakpoint(sm, 'max') {
                  width: 95px;
                }
              }
              &:nth-child(3) {
                flex: 1; 
                img {
                  margin-top: -8px;
                  margin-bottom: 0px;
                } 
              }
              &:nth-child(2) { 
                @include breakpoint(lg, 'max') {
                  flex-basis: unset;
                  flex: 1;
                }
              }
              &:nth-child(4) { 
                flex: 1; 
                @include breakpoint(lg, 'max') { flex: none; width: 90px; }
                img { 
                  height: 15px;
                  margin-bottom: 0;
                  margin-top: -2px;
                  display: block;
                  margin-left: 0px;
                }
              }
            }
            &.buttons {
              @include breakpoint(md, 'max') { display: none; }
            }
            &:not(.buttons) {
              @include breakpoint(md, 'max') {
                flex-wrap: wrap;
                & > div:nth-child(3) {
                  flex-basis: 100%;
                  padding-top: 20px;
                }
              }
            }
          }
        }
      }
      .bottom {    
        display: flex;
        justify-content: space-between;
        padding: 2% 32px;
        @include breakpoint(md, 'max') { padding: 2% 10px; }
        img:first-child {
          @include breakpoint(sm, 'max') { display: none; }
        }
      }
    }
    .bottom {
      text-align: right;
    }
  }
  section {
    & > article.iconbox {
      margin-bottom: 20px;
      .iconbox_icon {
        color: $teal;
        height: 40px;
        line-height: 45px;
        font-size: 40px;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        width: 60px;
        text-align: left;
        margin-right: 15px;
      }
    }
    padding-bottom: 4em;
    &#marketing, &#ad_spend {
      padding-bottom: 0px;
    }
  }
}
header {
  &.business {
    position: relative;
    margin-bottom: 3em;
    &:after {
      @include arc;
    }
    & > .container {
      display: flex;
      justify-content: start;
      z-index: 1;
    }
  }
  &:after {
    background-image: url(assets/img/companies/header-company.jpg);
  }
  &#company {
    #overview {
      @include breakpoint(md) { flex-basis: 48.1%; }
      .contact {
        padding-top: 3em;
        @include breakpoint(lg, 'max') { 
          flex-direction: column; 
          padding-top: 1em;
          .iconbox {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  &#agency {
    &:after {
      background-image: url(assets/img/agencies/header-agency.jpg);
    }
  }
  #overview {
    border-color:#cfd9dd;
    .contact {
      display: flex;
      & > div {
        flex: 1;
        .iconbox .iconbox_content {
          svg {
            border: 0px;
            width: 17px;
            height: 17px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 0px;
            text-align: left;
            margin-right: 10px;
            margin-top: 3px;
            path {
              fill: $blue;
            }
          }
          .iconbox_content_title {
            font-size: 1em;
            color: $blue;
            margin: 0px;
            margin-bottom: 12px;
          }
          .iconbox_content_container  {
            clear: left;
            top: -7px;
            display: block;
            position: relative;
            p {
              margin-top: 5px;
              font-weight: 300;
            }
          }
        }
        &.phone {
          .iconbox .iconbox_content .iconbox_content_container {
            color:$teal;
          }
        }
      }
    }
  }
}

#data_boxes {
  max-width: 379px;
  padding-left: 20px;
  @include breakpoint(md, 'max') { display: none; }
}