body.companies {
  #header_main nav { display: none;}
  #main header > .container { 
    padding-top: 18vh;
  }
  .table {
    &#advertising_table {
      .grid {
        .row {
          gap: 0px;
          & > div  {
            width: 24.5%;
            &:first-child {
              padding-left: 2.5%; // Brand Name
              width: 23.5%;
            }
            &:nth-child(2) {
              width: 25%;
            }
            &:nth-child(3) {
              width: 27%;
            }
          }
        }
      }
    } 
    &#marketing_table {
      .grid {
        & > .row {
          gap: 0px;
          align-items: center;
          & > div  {
            width: 44%;
            &:first-child {  // Name
              padding-left: 2.5%;
              width: 43.5%;
            }
            &:last-child {
              width: 12.5%;
            }
          }
          &:first-child {
            background-color: $teal;
          }
        }
        .details {
          & .row > div {
            &:nth-child(3) {
              flex: 1; 
              img {
                margin-top: -8px;
                margin-bottom: 0px;
              } 
            }
            &:nth-child(4) { 
              flex: 1; 
              img { 
                height: 15px;
                margin-bottom: 0;
                margin-top: -2px;
                display: block;
                margin-left: 0px;
              }
            }
          }
        }
      }
      .bottom {    
        display: flex;
        justify-content: space-between;
        padding: 2% 32px;
      }
    }
    .bottom {
      text-align: right;
    }
  }
  section {
    & > article.iconbox {
      margin-bottom: 20px;
      .iconbox_icon {
        color: $teal;
        font-size: 40px;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        width: 60px;
        text-align: left;
      }
    }
    padding-bottom: 3em;
    &#marketin, &#ad_spend {
      padding-bottom: 0px;
    }
  }
}
header {
  &#business {
    position: relative;
    margin-bottom: 3em;
    &:after {
      background-image: url(assets/img/companies/header-business.jpg);
      @include arc;
    }
    & > .container {
      display: flex;
      justify-content: start;
      z-index: 1;
    }
  }
}
#overview {
  border: 11px inset rgba(7,64,88,0.2);
  background: white;
  border-radius: 20px;
  padding: 40px;
  flex-basis: 48.1%;
  line-height: 1.6875em;
  font-weight: 300;
  -webkit-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
  .contact {
    display: flex;
    padding-top: 3em;
    & > div {
      flex: 1;
      .iconbox .iconbox_content {
        .iconbox_content_title {
          font-size: 1em;
          color: $blue;
          margin: 0px;
        }
        .iconbox_content_container  {
          clear: left;
          top: -7px;
          display: block;
          position: relative;
          p {
            margin-top: 5px;
            font-weight: 300;
          }
        }
      }
      &.phone {
        .iconbox .iconbox_content .iconbox_content_container {
          color:$teal;
        }
      }
    }
  }
}
#data_boxes {
  max-width: 379px;
  padding-left: 20px;
}
#win-more {
  background: transparent;
  min-height: 500px;
  padding-top: 6em;
  & > * {
    z-index: 1;
  }
  &:after {
    @include arc;
    background-color: $blue;
    transform: rotateX(180deg);
    background-image: url(assets/img/companies/win-more-bg.png);
  }
  p {
    font-weight: 300;
  }
  .container {
    max-width: 852px;
    padding-bottom: 80px;
    img {
      max-width: 724px;
      margin: 30px auto;
      display: block;
    }
    .image-overlay {
      display: none !important;
    }
  }
}

#cta-footer {
  max-width: 1106px;
  margin: -95px auto 0px auto;
  padding-left: 74px;
  padding-right: 30px;
  .image-overlay {
    display: none !important;
  }
  @include breakpoint(md) { flex-direction: row-reverse; }
  & > div {
    &:first-child {
      width: 405px;
      position: relative;
      a {
        overflow: visible;
        img {
          margin-top: -36px;
        }
      }
    }
    &:last-child {
      flex: 1;
      padding: 0px;
      font-size: 22px;
    }
  }
}