body.contacts {
  #header_main nav { display: none;}
  #main header  { 
    & > .container { 
      padding-top: 18vh; }
    &:after {
      background-image: url(assets/img/contacts/header.jpg);
    }
    #overview { 
      flex: 1;
    }
    & + .container {
      padding-top: 4em;
      gap: 0px;
      & > main {
        margin-left: 55px;
        .iconbox_left {
          margin: 30px 0px 40px 0px;
        }
        .gray_box .col .p {
          margin-top: 33px;
        }
        #personality_insights {
          img {
            margin-top: 30px;
          }
        }
        #disc_profile {
          p {
            margin: 33px 0px;
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        #company {
          font-size: 1em;
          .row {
            margin-top: 1em;
            gap: 44px;
          }
          .col.contact {
            flex: none;
            flex-basis: fit-content;
            margin-top: 0.85em;
            .phone {
              margin-bottom: 1em;
            }
            .iconbox.iconbox_left_content .iconbox_content_title {
              font-size: 1em;
            }
            & + .col {
              flex: none;
              width: 99px;
            }
          }
          .col.buttons {
            margin-top: 0.85em;
            flex: none;
            width: 127px;
          }
        }
      }
    }
  }
  aside {
    nav {
      li {
        a {
          color: rgba(7,64,88,0.6);
        }
        &.active {
          a {
            color: $blue;
            text-decoration: underline !important;
          }
        }
      }
      padding-bottom: 1em;
    }
  }
}