#top #sections {
  .entry-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    article.iconbox {
      -webkit-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
      -moz-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
      box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
      flex-basis: calc(33.3333% - 40px);
      border-radius: 20px;
      border: 11px rgba(7,64,88,0.2) solid;
      margin: 0px;
      .iconbox_icon {
        background: rgba(7,64,88,0.1);
        border: 0px;
        color:$teal;
        font-size: 53px;
      }
      &.av-no-box .iconbox_content {
        padding: 50px 0px;
      }
    }
  }
}