body#top.industries, body#top.top-agencies {
  #header_main nav { display: none;}
  #main header  { 
    & > .container { 
      padding-top: 150px; 
      @include breakpoint(md, 'max') {  
        padding-top: 8vh;
      }
      @include breakpoint(sm, 'max') {  
        padding-top: 4vh;
      }
    }
    &:after {
      background-image: url(assets/img/categories/header-category.jpg);
    }
  }
  section {
    .iconbox_content header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include breakpoint(sm, 'max') { flex-direction: column; }
      h2 {
        margin-bottom: 0px;
      }
    }
    &#columned {
      margin-bottom: 3em;
      .row > .col:only-child {
        a {
          display: block;
        }
        &.columned {
          columns: 2;
          @include breakpoint(lg, 'min') { columns: 4; }
          @include breakpoint(lg, 'max') { columns: 3; }
          @include breakpoint(md, 'max') { columns: 2; }
          @include breakpoint(xs, 'max') { columns: 1; }
        }
        ol {
          margin-bottom: 0px;
          margin-left: 0px;
          @include breakpoint(md, 'min') { columns: 2; }
          li {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            @include breakpoint(sm, 'max') { font-size: 16px; }
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
#top {
  //@include breakpoint(sm, 'max') { padding: 17px; }
 .row {
    margin-bottom: 0px;
    ol {
      margin-bottom: 0px;
      margin-left: 0px;
      @include breakpoint(md, 'min') { columns: 2; }
      li {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        @include breakpoint(sm, 'max') { font-size: 16px; }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
#more {
  padding-top: 3em;
  padding-bottom: 4em;
  .row {
    padding-top: 2em;
    gap: 0px;
  }
  .col {
    @include breakpoint(sm, "min") { columns: 2; }
    @include breakpoint(md, "min") { columns: 3 }
    a {
      display: block;
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }
}