.avia-button-wrap {
  .avia-button {
    border-radius: 5px;
    &.avia-size-medium {
      font-size: 18px;
      font-weight: 900;
      padding: 20px 35px 17px;
    }
    &.avia-color-theme-color {
      
    }
  }
}