#top .iconbox {
  svg {
    path {
      fill: $blue;
    }
  }
  .iconbox_content {
    .iconbox_content_title {
      text-transform: none;
      color:$blue;
      letter-spacing: normal;
    }
    h2.iconbox_content_title {
      font-size: 38px;
      margin-bottom: 0px;
      @include breakpoint(sm, 'max') { 
        font-size: 22px;
        line-height: 42px;
      }
    }

  }
  &.iconbox_left {
    .iconbox_icon,   //:not(.fa)
      
    
    svg {
      height: 55px;
      line-height: 55px;
      font-size: 40px;
      top: 0px;
      left: 0px;
      border-radius: 0px;
      width: 60px;
      text-align: left;
      margin-right: 15px;
      color:$teal;
      margin-top: 2px;
      text-align: center;
      @include breakpoint(sm, 'max') { 
        margin-right: 0px;
        margin-bottom: 15px;
        height: 47px;
        line-height: 47px;
        font-size: 33px;
        text-align: left;
        margin-top: 0px;
      }
      path, &:before {
        fill: $teal;
        color: $teal;
      }
    }
  }
  &.iconbox_left_content {
    margin-bottom: 0px;
    .iconbox_icon  {
      border: 0px;
      width: 17px;
      height: 17px;
      font-size: 18px;
      line-height: 24px;
      border-radius: 0px;
      text-align: left;
      margin-right: 15px;
      margin-top: 8px;
    }
    .iconbox_content_title  {
      line-height: 1.45em;
    }
    .iconbox_content_container {
      p {
        margin-top: 7px;
      }
    }
  }
}

#top .contact .iconbox {
  .iconbox_icon {
    border: 0px;
    width: 17px;
    height: 17px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 0px;
    text-align: left;
    margin-right: 10px;
    margin-top: -2px;
    path, &:before {
      fill: $blue;
      color: $blue;
    }
  }
}

#top .iconbox.iconbox_left_content .iconbox_icon {
}