
.popup-wrapper {
  display: none;
}
.modal {
  cursor: pointer;
  .image-overlay {
    display: none !important;
  }
}
.mfp-bg {
  background-color: #074058;
  opacity: 0.7;
}

#request_demo {
  max-width: 980px;
  margin: 0px auto;
  background-color: #25C9BA;
  border-radius: 20px;
  border: 10px rgba(255,255,255,0.4) solid;
  .mfp-close {
    display: none;
  }
  @include breakpoint(lg, 'max') { 
    max-width: calc(100% - 120px); 
  }
  @include breakpoint(sm, 'max') { 
    max-width: 90%;
  }
  .cta {
    padding: 65px 0px 65px 65px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 52%;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    @include breakpoint(md, 'max') { 
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      padding: 35px;
    }
    @include breakpoint(sm, 'max') { 
      padding: 0px 20px 20px;
    }
    &:after {
      display: table;
      clear: both;
      content: "";
    }
    img {
      grid-area: 1 / 2 / 4 / 3;
      margin-right: -59px;
      align-self: center;
      margin-top: 30px;
      @include breakpoint(md, 'max') { 
        grid-area: 1 / 1 / 2 / 2;
        width: calc(100% - 50px);
        margin-left: 37px;
        display: block;
      }
    }
    h2 { 
      grid-area: 1 / 1 / 2 / 2;
      line-height: 1.34em;
      font-weight: 700;
      @include breakpoint(md, 'max') { 
        grid-area: 2 / 1 / 3 / 2;
        font-size: 33px;
      }
    }
    p { 
      grid-area: 2 / 1 / 3 / 2; 
      font-size: 25px;
      line-height: 1.48em;
      font-weight: 300;
      margin-top: 0px;
      @include breakpoint(md, 'max') { 
        grid-area: 3 / 1 / 4 / 2;
        font-size: 20px;
      }
    }
    .avia-button-wrap {
      grid-area: 3 / 1 / 4 / 2;
      clear: none;
      @include breakpoint(md, 'max') { 
        grid-area: 4 / 1 / 5 / 2;
      }
      a {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}
#request_form {
  padding: 50px;
  max-width: 1250px;
  margin: 0px auto;
  background-color: #25C9BA;
  border-radius: 20px;
  //border: 10px rgba(255,255,255,0.4) solid;
  .mfp-close {
    display: none;
  }
  @include breakpoint(lg, 'max') { 
    max-width: calc(100% - 120px); 
  }
  @include breakpoint(sm, 'max') { 
    max-width: 90%;
  }
 
    padding: 40px;
    text-align: left;
    display: grid;
    grid-template-columns: 73% calc(27% - 20px);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    @include breakpoint(md, 'max') { 
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      padding: 35px;
    }
    @include breakpoint(sm, 'max') { 
      padding: 0px 20px 20px;
    }
    &:after {
      display: table;
      clear: both;
      content: "";
    }
    img {
      grid-area: 1 / 2 / 3 / 3;
      margin-right: 0px;
      align-self: center;
      margin-top: 10px;
      @include breakpoint(md, 'max') { 
        grid-area: 1 / 1 / 2 / 2;
        width: calc(100% - 50px);
        margin-left: 37px;
        display: block;
      }
    }
    h2 { 
      grid-area: 1 / 1 / 2 / 2; 
      line-height: 1.34em;
      font-weight: 700;
      align-self: end;
      @include breakpoint(md, 'max') { 
        //grid-area: 2 / 1 / 3 / 2;
        font-size: 33px;
      }
    }
    p { 
      grid-area: 2 / 1 / 3 / 2;
      font-size: 23px;
      line-height: 1.28em;
      font-weight: 300;
      margin-top: 0px;
      @include breakpoint(md, 'max') { 
        grid-area: 3 / 1 / 4 / 2;
        font-size: 20px;
      }
    }
    .hbspt-form {
      grid-area: 3 / 1 / 4 / 3;
    }
    .avia-button-wrap {
      grid-area: 3 / 1 / 4 / 2;
      clear: none;
      @include breakpoint(md, 'max') { 
        grid-area: 4 / 1 / 5 / 2;
      }
      a {
        background-color: $blue;
        color: #fff;
      }
    }
  
}