.row {
  @include breakpoint(md) {
    display: flex;
    gap: 55px;
  }
  &.va-center {
    align-items: center;
    p:last-child {
      margin-bottom: 0px;
    }
  }
  &.ha-center {
    justify-content: center;
    text-align: center;
  }
  &.alternate_color {
    color:#fff;
  }
  .col {
    flex: 1;
    &.col-7 {
      max-width: 70%;
    }
    &.col-6 {
      @include breakpoint(lg) { max-width: 60%; }  // lg on agency - may be md elsewhere?
      flex: none;
    }
    &.col-5-5 {
      max-width: 55%;
      flex: auto;
    }
    &.col-5 {
      max-width: 50%;
    }
    &.col-4 {
      flex: unset;
      flex-basis: 40%;
    }
  }
}

body {
  .container_wrap_first ul.company_list {
   display: grid;
   grid-template-areas: "media detail detail";
   grid-template-columns: 200px 200px 200px 200px;
   grid-auto-columns: 150px;
   column-gap: 32px;
  }
  #error {
   border: 5px #fcc solid;
   padding: 50px;
   font-size: 2em;
   max-width: 800px;
   margin: 30px auto;
  }

  .gray_box {
    border: 11px solid #426170;
    background: white;
    border-radius: 20px;
    padding: 23px;
    line-height: 1.6875em;
    font-weight: 300;
    gap: 30px;
    -webkit-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
    @include breakpoint(md, 'min') { padding: 40px; }
  }
  
  main.col .gray_box {
    padding: 30px;
  }
   
 }
 ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  li {
    counter-increment: my-awesome-counter;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    &::before {
      content: counter(my-awesome-counter);
      text-align: center;
      border-radius: 66px;
      color: #ffffff;
      background-color: $blue;
      font-weight: bold;
      display: block;
      width: 26px;
      height: 26px;
      line-height: 26px;
      min-width: 26px;
      font-size: 15px;
      @include breakpoint(md) {
        line-height: 33px;
        width: 33px;
        height: 33px;
        font-size: 20px;

      }

    }
  }
}