.row {
  @include breakpoint(md) {
    display: flex;
    gap: 55px;
  }
  &.va-center {
    align-items: center;
    p:last-child {
      margin-bottom: 0px;
    }
  }
  &.ha-center {
    justify-content: center;
    text-align: center;
  }
  &.alternate_color {
    color:#fff;
  }
  .col {
    flex: 1;
    &.col-7 {
      max-width: 70%;
    }
    &.col-6 {
      max-width: 60%;
    }
    &.col-5-5 {
      max-width: 55%;
      flex: auto;
    }
    &.col-5 {
      max-width: 50%;
    }
    &.col-4 {
      flex: unset;
      flex-basis: 40%;
    }
  }
  &.table {
    background-color: $blue;
    border: 8px rgba(255,235,219,0.20) solid;
    border-radius: 8px;
    gap: 0px;
    flex-direction: column;
    padding-bottom: 10px;
    .top {
      margin: 24px 32px 9px 32px;
      border-bottom: 1px $teal solid;
      padding-bottom: 5px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .grid {
      padding: 0px 32px 5px 32px;
      .row {
        background-color: #10516C;
        border-radius: 5px;
        margin: 3px 0px 2px 0px;
        color:#ffffff;
        font-size: 11px;
        min-height: 37px;
        padding-bottom: 3px;
        div.blur {
          img {
            height: 24px;
            width: auto;
            margin-top: 2px;
          }
        }
        div.pills {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          align-items: center;
          line-height: 18px;
          gap: 0px;
          row-gap: 0px;
          align-content: baseline;
          span {
            font-size: 8px;
            line-height: 10px;
            margin: 5px 3px 0px;
            border-radius: 3px;
            background-color: rgba(27,103,201,0.6);
            font-weight: 200;
            letter-spacing: 0.1em;
            padding: 0px 4px;
            white-space: nowrap;
            &.aor {
              background-color: rgba(37,201,186,0.5);
            }
          }
        }
      }
      .details {
        border-radius: 3px;
        background-color: #10516C;
        .row {
          height: auto;
          padding: 1.5% 2.5%;
          gap: 0px;
          &.buttons {
            padding-top: 0px;
          }
          & > div {
            img {
              margin-left: -5px;
              height: 26px;
              margin-bottom: -5px;
            }
            &:first-child {
              width: 118px;
            }
            &:nth-child(2) {  // Actual contact info (phone number and blurs)
              line-height: 22px;
              flex-basis: calc(41.9% - 118px);
            }
          }
        }
      }
    }
    .bottom {
      padding: 0px 32px 10px 32px;
    }
  }
}

body {
  .container_wrap_first ul.company_list {
   display: grid;
   grid-template-areas: "media detail detail";
   grid-template-columns: 200px 200px 200px 200px;
   grid-auto-columns: 150px;
   column-gap: 32px;
  }
  #error {
   border: 5px #fcc solid;
   padding: 50px;
   font-size: 2em;
   max-width: 800px;
   margin: 30px auto;
  }

  .gray_box {
    border: 11px inset rgba(7,64,88,0.2);
    background: white;
    border-radius: 20px;
    padding: 40px;
    line-height: 1.6875em;
    font-weight: 300;
    gap: 30px;
    -webkit-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.07);
  }
  
  main.col .gray_box {
    padding: 30px;
  }
   
 }