.row {
  @include breakpoint(md) {
    display: flex;
    gap: 40px;
  }
  .col {
    flex: 1;
  }
  &.table {
    background-color: $blue;
    border: 8px rgba(255,235,219,0.20) solid;
    border-radius: 8px;
    gap: 0px;
    flex-direction: column;
    padding-bottom: 10px;
    .top {
      margin: 24px 32px 9px 32px;
      border-bottom: 1px $teal solid;
      padding-bottom: 5px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .grid {
      padding: 0px 32px 5px 32px;
      .row {
        background-color: #10516C;
        border-radius: 5px;
        margin: 3px 0px 2px 0px;
        color:#ffffff;
        font-size: 11px;
        height: 37px;
        div.blur {
          img {
            height: 24px;
            width: auto;
            margin-top: 2px;
          }
        }
      }
    }
    .bottom {
      padding: 0px 32px 10px 32px;
    }
  }
}

body {
  .container_wrap_first ul:not(.preview) {
   display: grid;
   grid-template-areas: "media detail detail";
   grid-template-columns: 200px 200px 200px 200px;
   grid-auto-columns: 150px;
   column-gap: 32px;
  }
  #error {
   border: 5px #fcc solid;
   padding: 50px;
   font-size: 2em;
   max-width: 800px;
   margin: 30px auto;
  }
   
 }